<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1 class="text-center">EJS Cats</h1>
        <div class="row row-cols-2">

            <div class="col">
                <a href="/garfield">
                    <img src="images/garfield.png" alt="A photo of the cartoon character Garfield." style="width:400px;height:200px;" class="ml-4">
                </a>
            </div>

            <div class="col">
                <a href="/sylvester">
                    <img src="images/sylvester.png" alt="A photo of the cartoon character Sylvester." style="width:400px;height:200px;" class="ml-4">
                </a>
            </div>

            <div class="col">
                <a href="/tom">
                    <img src="images/tom.png" alt="A photo of the cartoon character Tom." style="width:400px;height:200px;" class="mt-5">
                </a>
            </div>

            <div class="col">
                <a href="/catFromCatDog">
                    <img src="images/cat.png" alt="A photo of the cartoon character Cat from CatDog." style="width:400px;height:200px;" class="mt-5">
                </a>
            </div>
        </div>
    </div>

    </div>
</body>
</html>