<h1>Listing 4 Dojos</h1>

<table class="table table-hover">
<thead>
    <tr>
    <th scope="col">Coding Dojo Branch</th>
    <th scope="col">Street</th>
    <th scope="col">City</th>
    <th scope="col">State</th>
    </tr>
</thead>
<tbody>
    <tr>
    <%@dojos.each do |dojo| %>
    <td><%= dojo.branch%></td>
    <td><%= dojo.street%></td>
    <td><%= dojo.city%></td>
    <td><%= dojo.state%></td>
    </tr>
    <% end %>
</tbody>
</table>
