
<div class="container border border-warning rounded-bottom mt-2 pb-4">
  <h1 class=" mt-5 text-center">{{title}}</h1>
  <div class="border border-primary rounded-bottom">
    <div class="row">
      <div class="col-sm ml-5">
        <!-- One of three columns -->
      </div>
      <div class="col-sm ml-5">
        <button (click)="onButtonClickForAllTasks()" type="button" class="btn btn-success mt-2 mb-2 ml-5 ">{{toggleButton}}</button>
      </div>
      <div class="col-sm">
        <!-- One of three columns -->
      </div>
    </div>
  
    <ul *ngIf = "!this.hideTaskList" class="list-group"> <!-- this is saying when the hide task list is false aka when it's showing  -->
      <li *ngFor= "let task of tasks" class="list-group-item text-center">{{task.title}} <button (click)="onButtonClickToShowSpecificTask(task._id)" type="button" class="btn btn-info rounded-circle ml-5">{{subToggleButton}}</button> </li>
    </ul>
  </div>
  <app-show-task *ngIf = "!this.hideSpecificTaskList" [specificTask] = 'specificTask' ></app-show-task> <!-- the child input name on  its .ts file is in the brackets & is then set equal to the parent attribute -->
</div>

<router-outlet></router-outlet>