<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Fruit Store Purchases</title>
</head>
<body>
    <h1>Thank You for Your Order, {{student}}!</h1>
    <p>We ordered {{count}} items for you and charged your student account for the purchase.</p>
    <h2>Order Summary:</h2>
    <p>Apples: {{appQuantity}} </p>
    <p>Blackberry: {{blackBQuantity}} </p>
    <p>Raspberry: {{raspBQuantity}} </p>
    <p>Strawberry: {{strawBQuantity}} </p>
    <h2>Your Information:</h2>
    <p>Name: {{student}}</p>
    <p>Your Student ID: {{id}}</p>
    <!-- <table class="table table-bordered">
        <thead>
            <tr>
            <th scope="col">Fruit Name</th>
            <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>Strawberries</td>
            <th scope="row">number</th>
            </tr>
            <tr>
            <td>Raspberries</td>
            <th scope="row">number</th>
            </tr>
            <tr>
            <td>Apples</td>
            <th scope="row">number</th>
            </tr>
        </tbody>
    </table> -->
</body>
</html>