<% if @errors%>
        <% @errors.each do |error| %>
        <p class = 'danger'><%= error %></p>
        <% end %>
<% end%>

<div class = "container">
    <h1 class= "mt-4 ml-3">SIGN IN</h1>
    <form action="/users/create" method="post">
    <div class="form-group col-sm-3 mt-3">
        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
        <input type="username" class="form-control" id="username" aria-describedby="usernameHelp" name= "user[username]" placeholder="username">
    </div>
    <button type="submit" class="btn btn-primary ml-3">Sign In</button>
    </form>
</div>