<a [routerLink]= "['/new']">Add An Author</a>
<p>We have quotes by:</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Author</th>
            <th scope="col">Actions Available</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mark</td>
            <td>
                <button type="button" class="btn btn-secondary mr-1"> 
                    <a [routerLink]= "['/edit']">Edit</a>
                </button>
                <button type="button" class="btn btn-secondary">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
