<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Shows</title>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">All Shows</h1>
        <table class="table table-hover table-dark">
            <thead>
            <tr>
                <th scope="col">ID #</th>
                <th scope="col">Title</th>
                <th scope="col">Network</th>
                <th scope="col">Release Date</th>
                <th scope="col">Action(s)</th>
            </tr>
            </thead>
            <tbody>
                {% for show in allShows %}
            <tr>
                <th scope="row">{{show.id}}</th>
                <td>{{show.title}}</td>
                <td>{{show.network}}</td>
                <td>{{show.releaseDate}}</td>
                <td><a href="/shows/{{show.id}}">Show | </a><a href="/shows/{{show.id}}/edit">Edit | </a><a href="/shows/{{show.id}}/delete">Delete</a></td>
            </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary btn-lg" href="/shows/new">Add A New Show</a>
    </div>
</body>
</html>